
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <title>Document</title>
</head>
<body>
  <div class="training">
    <h1>Assignment</h1>
    <hr>
    <table class="table">
      <thead class="thead-dark back">
      <tr>
        <th *ngFor="let col2 of columns2">{{col2}}</th>
      </tr>
      <tr *ngFor="let user2 of userinsurance">
        <td>{{user2.policyNo}}</td>
        <td>{{user2.policyHName}}</td>
        <td>{{user2.policyA}}</td>
        <td>{{user2.amountFEMI}}</td>
        <td>{{user2.NomineeName}}</td>

        <button class="btn btn-info">Update</button>
        <button class="btn btn-danger">Delete</button>
      </tr>
    </thead>
    </table>
    <button class="btn btn-primary" (click)="insertInsuranceInJson()">Insert Record</button>
    <!-- <input type="text" [(ngModel)]="recordIdDeleteinJSONServer"> -->
    <button class="btn btn-danger" (click)="recordToDeleteinsurance()">Delete Record</button>
  </div>
</body>
</html>